header:before {
  content: '';
  position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2)),
          url('../images/sailboat.jpg');
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  -webkit-animation: 7s cubic-bezier(.25, .25, .25, 1) fade;
  animation: 7s cubic-bezier(.25, .25, .25, 1) fade;
  animation-direction: normal;
  z-index: 1;
}


@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v5/MViwy4K6e56oHcyeMzjbCQ.ttf) format('truetype');
 }

* {
  box-sizing: border-box;
}

#app {
      color: #620907;
      font-size: 20px;
      font-family: Arvo;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 70vh;
      width: 95vw;
      position: relative;
      text-align: center;
      z-index: 2;
}


input[type=text] {
  padding: 6px 20px;
  background-color: white;
  border-radius: 15px;
  border: 3px;
  font-weight: normal;
  font-family: Arvo;
  color: black;
  border-style: ridge;
  width: 100%;
  resize: vertical;
}


input[type=submit]:enabled {
  padding: 3px 20px;
  background-color: #B4842B;
  border-radius: 15px;
  border: 3px;
  font-family: Arvo;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  color: black;
  border-style: ridge;
}
input[type=submit]:disabled {
  padding: 3px 20px;
  background-color: #B4842B;
  border-radius: 15px;
  border: 3px;
  font-weight: lighter;
  font-family: Arvo;
  font-size: medium;
  text-align: center;
  color: black;
  border-style: ridge;
  opacity: 0.6;
}

#Username {
  max-width: 190px;
  text-align: center;
  margin: 0 auto;
}

#chatbox {
  height: 280px;
  max-width: 750px;
  overflow-y: auto;
  text-align: left;
  font-family: Arvo;
  font-size: 15px;
}
